html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-color: #f34295;
}
.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
#logout
{
	font-size: 20px;
     float: right;
}
#image_logo{
	width: 40px;
}
.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
    background-color: #f34295;
}